<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <br>
            <ul class="nav nav-pills">
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref="app.main">Home</a>
                </li>
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref="app.profile">Profile</a>
                </li>
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref="app.message">Messages</a>
                </li>
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref="app.about">About</a>
                </li>
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref="app.chart">Chart</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <div ui-view></div>
        </div>
    </div>

</div>