<div class="btn btn-default">loadModule</div>




<div class="col-xs-4">
    <form class="jqueryFormDemo" action="http://file.lqwawa.com/Files/Upload/Upload.aspx?ID=8fbe5b9d-6940-43e6-95a5-802eedad4479&token=1&flag=pic&extension=png" enctype="multipart/form-data" method="post">
        <input type="file" name="file1">
        <input type="submit" data-id="submitBtn" value="提交">
    </form>
</div>
<div class="col-xs-4">
    <form class="jqueryFormDemo" action="http://filetestop.lqwawa.com/Files/Upload/Upload.aspx?ID=8fbe5b9d-6940-43e6-95a5-802eedad4479&token=1&flag=pic&extension=png" enctype="multipart/form-data" method="post">
        <input type="file" name="file1">
        <input type="submit" data-id="submitBtn" value="提交">
    </form>
</div>